<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Informes - MoneyGest</title>
    <link rel="stylesheet" th:href="@{/css/menuLateral.css}">
    <link rel="stylesheet" th:href="@{/css/informes.css}">
</head>
<body>
<div class="contenedor">

    <aside th:replace="fragments/menuLateral :: menuLateral"></aside>

    <main class="contenido">
        <div class="barra-superior">
            <h3>Informes</h3>
        </div>

        <section class="seccion-seleccion">
            <p class="instruccion">Por Favor Selecciona el rango a consultar</p>

            <form th:action="@{/informes/descargar}" method="post" class="form-busqueda">

                <div class="input-contenedor">
                    <label>Fecha desde</label>
                    <div class="input-wrapper">
                        <input type="date" name="fechaDesde" required>
                    </div>
                </div>

                <div class="input-contenedor">
                    <label>Fecha hasta</label>
                    <div class="input-wrapper">
                        <input type="date" name="fechaHasta" required>
                    </div>
                </div>

                <button type="submit" class="btn-buscar">Buscar</button>
            </form>
        </section>
    </main>
    <script th:src="@{/js/informes.js}"></script>
</div>
</body>
</html>